/* Center the form heading */
.form-heading h6 {
  text-align: center;
  background-color: white;
  transform: translateY(-50%);
}

/* Buttons should be displayed as a flex container */
.btn {
  display: flex;
  width: 25%;
  margin-left: 200px;
}

/* Cards should have a margin to the left */
.card {
  margin-left: 45px;
  width: 100%;
  height: 100%;
}

/* Main container should have a width and margin on larger screens */
@media only screen and (min-width: 769px) {
  main {
    width: 80%;
    margin-left: 60px;
  }
}

/* On smaller screens, the main container and cards should be displayed as a block */
@media screen and (max-width: 800px) {
  main {
    display: block;
  }
  .card {
    display: block;
  }
}

/* For screens smaller than 576px */
@media (max-width: 575.98px) {
  .card {
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
  }
  .form-control {
    margin-bottom: 10px;
  }
  .form-heading {
    font-size: 20px;
  }
  .btn {
    margin-bottom: 10px;
  }
}

/* For screens between 576px and 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .form-control {
    margin-bottom: 10px;
  }
  .form-heading {
    font-size: 20px;
  }
  .btn {
    margin-bottom: 10px;
  }
  input {
    width: 100%;
  }
}

/* For screens between 768px and 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .form-control {
    margin-bottom: 10px;
  }
  .form-heading {
    font-size: 20px;
  }
  .btn {
    margin-bottom: 10px;
  }
}

/* For screens between 992px and 1199.98px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .form-control {
    margin-bottom: 10px;
  }
  .form-heading {
    font-size: 25px;
  }
  .btn {
    margin-bottom: 10px;
  }
  input {
    width: 50%;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1200px) {
  .form-control {
    margin-bottom: 10px;
  }
  .form-heading {
    font-size: 30px;
  }
  .btn {
    margin-bottom: 10px;
  }
}
