button{
    padding: 10px 10px;
    margin-top: 10px;
    transition: margin-left .5s;
}
.card{
    /* margin-top:100px; */
    margin-left: 20px;
    box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -moz-box-shadow:0px 4px 20px rgba(5,57,94,.5);
    -webkit-box-shadow:0px 4px 20px rgba(5,57,94,.5);
    font-size: larger;

}

@media screen and (max-width : 767px){

    .card{
        margin-left: 0px;
    }
}
@media screen and (min-width : 767px){

    .card{
        margin-left: 80px;
    }
}