
/* topnav css  */
.topnav {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid rgb(128, 128, 128);
    z-index: 10;
}
img{

    width: 150px;

}
.topnav a {
    justify-content: space-between;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    color: red;
}

.menu {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    display: block;
}
/* topnav css  */

/* left sidebar nav  */

.sidebar {
    position: fixed;
    top: 56px;
    overflow: auto;
    background-color: black;
    height: 100%;
    border-right: 1px solid rgb(128, 128, 128);
    padding: 30px 5px;
    margin: 0px;
 
}
.sidebar a:hover {

    color: green;
    border-radius: 10px;
  }
.sidebar a {
    text-decoration: none;
    padding: 10px 10px;
    color: white;
  
    display: block;

}

.sidebar i {
    padding-right: 5px;
    font-size:30px;
}

.sidebar .icon {
    float: right;
}

.sidebar li{
    font-size: medium;
}

.dropdow-container{
    padding-left: 10px;
    overflow-y: hidden;
    max-height: 0px;
    transition: all .15s ease;
}

.dropdow-container.show{
    max-height: 1000px;
    transition: all .15 ease;
}
ul{
    padding: 0px;

}
ul>li>a.active{
    color: green;
    background-color: white;
    border-radius: 10px;

}

/* left sidebar nav  */

/* main-content */
.main-content {

    margin-left:160px;
    height: 100%;
    padding: 10px 10px;
    transition: margin-left .3s;
    /* background-image: url("); */
}
/* main-content */



@media screen and (max-width:800px) {

    .menu 
    {
        display: block;
    }
    .sidebar{
        display: none;
        width: 155px;
    }
    .sidebar a{
        padding: 10px 0px;
        text-align: center;
    }
    
    .main-content{
        margin-left: 1px;
    }

}