<div class="header">
    <h1>Employee List </h1>
</div>
<br>
<table class="table">
    <thead class="thead" style="background-color:white; border-radius: 10px; border:1px solid black;">
        <tr>
            <th scope="col">Sr.no</th>
            <th scope="col">First Name </th>
            <th scope="col">Last Name</th>
            <th scope="col">Education</th>
            <th scope="col">Date</th>
            <th scope="col">Gender</th>
            <th colspan="2" ><input type="search" class="form-control search" placeholder="Search Employee" (input)="searchEmployees(searchInput.value)" #searchInput ></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeesToDisplay;let ei = index;" >
            <td data-title="Sr.no" scope="row">{{ei| number}}</td>
            <td data-title="First Name" scope="row">{{employee.firstname| titlecase }}</td>
            <td data-title="Last Name" scope="row"> {{employee.lastname| titlecase }} </td>
            <td data-title="Education" scope="row">{{employee.education}}</td>
            <td data-title="Birth Date" scope="row">{{employee.birthdate| date}}</td>
            <td data-title="Gender" scope="row"> {{employee.gender  == 'm' ? "Male" : "Female"}}</td>
           <td><a routerLink="/admin/users"><mat-icon (click)="deleteEmployee(employee.id)" >delete</mat-icon></a></td>
            <td><a routerLink="/admin/edet-add/{{employee.id}}"><mat-icon>border_color</mat-icon></a></td>
        </tr>
    </tbody>
</table>


