<mat-card>

    <mat-card-header>

       <h1>Register Form</h1> 

    </mat-card-header>

    <mat-card-content>

        <form class="example-form"   >

            <mat-form-field class="example-full-width">

                <mat-label>User Name</mat-label>

                <input matInput >

            </mat-form-field>

            <mat-form-field class="example-full-width">

                <mat-label>Name</mat-label>

                <input matInput >

            </mat-form-field>

            <mat-form-field class="example-full-width">

                <mat-label>Password</mat-label>

                <input matInput >

            </mat-form-field>

            <mat-form-field class="example-full-width">

                <mat-label>Email-id</mat-label>

                <input matInput >

            </mat-form-field>

            <div>

                <mat-radio-group aria-label="Gender" >

                    <mat-radio-button value="male">male</mat-radio-button>

                    <mat-radio-button value="female">female</mat-radio-button>

                  </mat-radio-group>    

            </div>
            <div>

                <button mat-raised-button color="primary">
                    
                    Register
                
                </button>

                <a routerLink="/login"  mat-raised-button color="accent">Go to login page</a>
          
            </div>

        </form>

    </mat-card-content>

</mat-card>